body {
  padding: 50px;
  font: "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

ul {
  list-style-type: none;
  padding-left: 10px;
}

.container {
  max-width: 600px;
  background-color: #eeeeee;
  border: 1px solid black;
}

.header {
  text-align: center;
}

.user-list {
  font: 16px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.table-header { display: table-row; }
.table { display: table; }
.row { display: table-row; }
.cell { display: table-cell; }
