html {
  height: 100%;
}

body {
    font-family: "Lato",sans-serif;
    color: #333
}

h1,h2,h3,h4,h5,h6 {
    font-family: "Roboto",sans-serif
}

h1 .small,h2 .small,h3 .small,h4 .small,h5 .small,h6 .small {
    font-size: 0.5em;
    display: inline;
    margin-left: 1em;
    line-height: 2em
}

a {
  color: #00B7FF;
}

ul {
  list-style-type: none;
  padding-left: 10px;
}

.container {
  max-width: 600px;
}

.header {
  text-align: center;
}

.user-list {
  font: 16px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.table-header { display: table-row; }
.table { display: table; }
.row { display: table-row; }
.cell { display: table-cell; }

section {
    padding: 0 0;
    display: block;
    position: relative;
    box-sizing: border-box;
    width: 100%
}

section .container {
    display: block;
    position: relative;
    margin: 40px auto;
    max-width: 700px;
}

section.hero {
    height: 100%;
    min-height: 595px;
    padding-top: 5%;
    position: relative;
    background-image: url(../images/vassar_quad.jpg);
    background-size: cover;
    background-position: center top;
    font-family: "Roboto",sans-serif;
    color: white;
}

section.hero .container {
    height: 100%;
    margin-top: -5%;
    padding-top: 5%;
}

section.hero .logo {
  max-width: 500px;
  display: block;
  margin: auto;
}
